body {
    background-color: rgb(41, 41, 41);
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/RobotoCondensed-Bold.ttf);
}

nav {
    font-family: Roboto;
}

header {
    height: 500px;
    width: auto;
    background-image: url(/img/screenshots/campingsite.png);
    background-position: center;
    text-align: center;
    padding-top: 70px;
}

.catcenter {
    font-family: Roboto;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.catleft {
    font-family: Roboto;
    color: white;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 20px;
}

.catnopad {
    font-family: Roboto;
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.catnopadc {
    font-family: Roboto;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rulecat {
    font-family: Roboto;
    color: white;
    text-align: left;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.rule {
    font-family: Roboto;
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
}

footer {
    height: auto;
}